body{
    background-color: rgb(0, 0, 0);
}
h1{
    color:rgb(255, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
}
p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Papyrus", fantasy;
    margin: 5%;
    letter-spacing: 2px;
}
h2{
    color:rgb(255, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}