body {
    background-color:rgb(29, 32, 32);
}

h1{
    text-align:center;
    color:rgb(195, 15, 15);
    text-shadow: 2px 2px 5px rgb(21, 22, 26); 
    font-family: "Times New Roman", Times, serif;
     font-size:4vw;
}

p{
    margin: 5%;
    font-family: "Papyrus", fantasy;
    text-indent: 70px;
    letter-spacing: 2px;
    text-align-last: center;
}

.img1{
margin: auto;
  width:35%;
  align-items: center;
}

.img2{
margin: auto;
  width:30%;
  align-items: center;
}

h2{
    text-align: center;
    color:rgb(33, 9, 9);
    text-shadow: 2px 2px 5px rgb(2, 31, 104); 
    font-family: "Times New Roman", Times, serif;
    font-size:2vw;
}